.container{
    color: yellow;
    border: solid 10px magenta;
   
    
}

.bgs-container{
    display: flex;
}

.conatines{

   
   padding: 0, 20px;
   background: rgba(255,255,255,0.1);
   z-index: 10;
   /* display: flex; */
   position: relative;
   border-radius: 20px;
   border: 2px solid rgba(255,255,255,0.7);
   backdrop-filter: blur(25px);
   box-shadow: -15px 17px 17px rgba(10,10,10,.25);
   margin: 20px;
   padding: 20px;
   margin-right: 10px;
 }


.filter-container{
    margin-top: 10px;
   min-width: 30%;
 

    

}


.company-img{
    height: 45px;
    width: 45px;
    margin-right: 5px;
}



.image-rating-con{
    display: flex;
    align-items: center;
}
.locations{
    
    margin-top: 13px;
    margin-left: 5px;
}

.location-map-container{
  
    display: flex;
    justify-content: start;
    align-items: center;

}


.work-jobtype{
    display: flex;
    align-items: center;
}

.job-type{
    margin-top: 13px;
    margin-left: 5px;

}
.package{
    margin-top: 13px;
    margin-left: 5px;

}

.location-job-pacakge-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.horizontal-line{
   width: 100%;
   border-top: 3px solid rgba(255,255,255,0.7);
}

.input-wrapper{
    background-color: transparent;
    width: 70%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
    margin-left:5%;
    margin-top: 10px;
  
  }
  
  .search-input{
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1rem;
    width: 100%;
    margin-left: 5px;
    color: whitesmoke
  }
  
  .search-input:focus{
    outline: none;
  }
  
  
  #search-icon{
    color: palevioletred;
  }

  .horizontal-lines{
    width: 90%;
    margin-left: 15px;
    border-top: 3px solid lightblue;
 }

 .clearbtns{
    background-color:rgb(186, 29, 147);
 }

 .no-job-found-container{
    padding-top: 30px;


 }

 .no-job-found-errormsg{
    text-align: center;
    font-weight: bold;
    
 }

 .loader-container{
    
    position: fixed;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
   
   
    
 }



 @media only screen and (max-width: 768px) {

      
.filter-container{
    margin-top: 10px;
   min-width: 100%;
  

}

.bgs-container{
    display: block;
}



.no-job-found-image{
    height: 245px;
    width: 245px;
    margin-left: 120px;
}

.loader-container{
    margin-top: 270px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
   
    
 }
    
 }


.btsns{
    height: 45px;
    width: fit-content;
    border-radius: 10px 15px 5px 15px;
    background-color: rgb(186, 29, 147);
    border-style: none;
}