.bg-containers{
    background-image: url('https://res.cloudinary.com/djq9899ge/image/upload/v1708887475/p0jkilb9b4o5ltzhkmys.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
   
   
   
}

.main-heading{
    font-family:Georgia, 'Times New Roman', Times, serif;
  padding-top: 40px;
  padding-left: 10px;
}

.home-para{
    font-family:Georgia, 'Times New Roman', Times, serif;
  padding-top: 40px;
  padding-left: 10px;

}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background: hsl(81, 75%, 50%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{

    background: hsl(200, 100%, 50%);
    border-radius: 5px;
   

}

.btns{
    background-color: cadetblue;
    color: whitesmoke;
    border-radius: 5px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.btns:hover{
    background-color: cornflowerblue;
}